body {
    font-size: 13px;
}

.canvas-container {
    background: #fff;
}

.canvas-container {
    margin: 0 auto;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: none;
}

.nav-tabs li.active > a {
    background: #ddd !important;
}

.tab-pane > .ribbon {
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    background: #ddd;
}